<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zd.Dao.StudentMapper">
    <select id="getStudent" resultMap="StudentAndTeacher">
        select * from student
    </select>
    <resultMap id="StudentAndTeacher" type="com.zd.Pojo.Student">
        <result property="sid" column="sid"/>
        <result property="name" column="name" />
        <association property="teacher"
                     column="tid"
                     javaType="com.zd.Pojo.Teacher"
                     select="getTeacher"
        />
    </resultMap>

    <select id="getTeacher" resultType="com.zd.Pojo.Teacher">
        select * from teacher where tid=#{tid};
    </select>

</mapper>